#home {
  .container {
    display: grid;
    place-items: center;
    min-height: 100svh;
    grid-template-columns: 1fr;
    padding-top: 76px;
    padding-bottom: 1.5rem;
  }
  .graphic-col > img {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .text-col {
    grid-column: span 1 / 1;
    grid-row: span 1 / 1;
    z-index: 2;
  }
  .graphic-col {
    grid-column: span 1 / 1;
    grid-row: span 1 / 1;
    opacity: 0.2;
    z-index: 1;
  }
}

@media only screen and (min-width: 993px) {
  #home {
    .container {
      grid-template-columns: 1fr 1fr;
    }
  }
}
