#yearlysale .container-bg {
  background-image: url(/images/sale-image.webp);
  background-repeat: no-repeat;
  background-position: left center;
}

@media only screen and (min-width: 992px) {
  #yearlysale .container-bg {
    background-attachment: fixed;
  }
}

@media only screen and (max-width: 992px) {
  #yearlysale .container-overlay {
    background-color: rgba(255, 255, 255, 0.5);
  }
}