#home {
  min-height: 100svh;

  .container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .hero-image {
    max-height: 50svh;
  }

  @media only screen and ( min-width: 992px ) {
    .hero-image {
      max-height: 80svh;
    }
  }
}