$primary: #114232;
$secondary: #87A922;
$info: #FCDC2A;
$warning: #F7F6BB;
// $success:
// $danger: #E87883;
// $light:
// $dark:
$font-family-sans-serif: Inter, sans-seif;
$odd-bg: #fefefe;
$even-bg: #fafafa;
$transition: all ease-in-out 0.2s;