// OVERRIDE DEFAULT VARIABLES
$primary: #114232;
$secondary: #87A922;
$info: #FCDC2A;
$warning: #F7F6BB;
// $success:
// $danger: #E87883;
// $light:
// $dark:
$font-family-base: 'Inter Variable', sans-serif;
$font-family-sans-serif: $font-family-base;
$headings-font-family: 'Lora Variable', serif;
// $btn-font-family: $headings-font-family;


// IMPORT BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap";